python-dotenv
pytz
requests

langchain
tiktoken
openai

# webbaseload related
bs4
fake_useragent

notion-client
tweepy
mysql-connector-python
redis

youtube-transcript-api
pytube

# Vector database
# chromadb
pymilvus===2.2.8
pinecone-client

# RSS
feedparser

# Speech to Text
SpeechRecognition

# Text to Speech
pyttsx3

soundfile
openai-whisper

yt-dlp

# Arvix
arxiv
pymupdf

# AutoGen
pyautogen
docker
duckduckgo_search
